.form-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform{
    padding: 12px;
    max-width: 450px;
    width: 80%;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(15,23,42,0.1);
    align-items: center;
    text-align: center;
}